#mapcontainer {
    overflow: hidden;
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px;
	background-color: green;
	z-index: 0;
}

#map {
    overflow: hidden;
	position: absolute;
	top: -10px;
	margin: 12px;
	background-color: black;
	-webkit-mask-image:
		linear-gradient(to top, black 0%, black 100%),
		linear-gradient(to top, transparent 0%, black 100%),
		linear-gradient(to right, transparent 0%, black 100%),
		linear-gradient(to bottom, transparent 0%, black 100%),
		linear-gradient(to left, transparent 0%, black 100%);
	-webkit-mask-position:
		center,
		top,
		right,
		bottom,
		left;
	-webkit-mask-size:
		100% 100%,
		100% 10px,
		10px 100%,
		100% 10px,
		10px 100%;
	-webkit-mask-repeat:
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat;
	-webkit-mask-composite:
		source-out,
		source-over,
		source-over,
		source-over;
	mask-image:
		linear-gradient(to top, black 0%, black 100%),
		linear-gradient(to top, transparent 0%, black 100%),
		linear-gradient(to right, transparent 0%, black 100%),
		linear-gradient(to bottom, transparent 0%, black 100%),
		linear-gradient(to left, transparent 0%, black 100%);
	mask-position:
		center,
		top,
		right,
		bottom,
		left;
	mask-size:
		100% 100%,
		100% 10px,
		10px 100%,
		100% 10px,
		10px 100%;
	mask-repeat:
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat;
	mask-composite:
		subtract,
		add,
		add,
		add;
	z-index: 1
}

#infoblock {
    overflow: hidden;
	position: absolute;
	bottom: 30px;
	right: -9px;
	width: 350px;
	height: 45px;
	border-radius: 7px;
	color: #ffffff;
	background-color: #280048;
	opacity: 1.00;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	height: 22px;
	line-height: 22px;
	padding: 3px 3px 3px 7px;
	text-align: left;
	z-index: 5;
}